{% extends "base.html" %}
{% block content %}
    <div class="row">
        <div class="col-8 offset-2 jumbotron border border-light mt-3">
            {% include 'components/page_title.html' with heading="Update Bookmark" %}
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    <div class="form-row mb-2">
                        <label for="id_name">
                            Name
                        </label>
                        {{ form.name }}
                    </div>
                    <div class="form-row mb-2">
                        <label for="id_url">
                            URL
                        </label>
                        {{ form.url }}
                    </div>
                    <div class="form-row mb-2">
                        <label for="id_description">
                            Description
                        </label>
                        {{ form.description }}
                    </div>
                    {% include 'components/submit_button.html' %}
                </div>
            </form>
        </div>
    </div>
{% endblock %}