{% extends "base.html" %}
{% block content %}
    {% include 'components/page_title.html' with heading="Bookmark Detail" %}
    <div class="row">
        <div class="col-4 offset-4">
            <div class="card text-center mb-3">
                <div class="card-header">
                    <p class="lead my-1">{{ bookmark.name }}</p>
                </div>
                <div class="card-body">
                    <p>{{ bookmark.description }}</p>
                    <a href="{{ bookmark.url }}">{{ bookmark.name }}</a>
                </div>
                <div class="card-footer mx-2">
                    <a class="btn btn-sm btn-warning mx-1" href="{% url 'bookmark:update' bookmark.id %}">Update</a>
                    <a class="btn btn-sm btn-danger mx-1" href="{% url 'bookmark:delete' bookmark.id %}">Delete</a>
                </div>
            </div>
            {% include 'components/submit_button.html' %}
        </div>
    </div>
{% endblock %}