{% extends "base.html" %}
{% block content %}
    <div class="row">
        <div class="col-8 offset-2 jumbotron border border-light mt-3">
            {% include 'components/page_title.html' with heading="Create Todo" %}
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    <div class="form-row mb-2">
                        <label for="name" style="width: 8rem;">Name</label>
                        <input class="form-control" type="text" name="name" id="name" value="">
                    </div>
                    <div class="form-row mb-2">
                        <label for="due_date" style="width: 8rem;">Due Date</label>
                        <input class="form-control" type="date" name="due_date" id="due_date" value="">
                    </div>
                    <div class="form-row mb-2">
                        <label for="description" style="width: 8rem;">Description</label>
                        <input class="form-control" type="text" name="description" id="description" value="">
                    </div>
                    <div class="form-row mt-4 d-flex justify-content-around">
                        {% include 'components/form_confirm_or_go_back.html' %}
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}