{% extends "base.html" %}
{% block content %}
    <div class="row">
        <div class="col-10 offset-1">
            <div class="d-flex flex-wrap justify-content-center mt-4">
                {% for todo in page_obj %}
                    <div class="card text-center mb-3 mx-2" style="min-width: 18rem; max-width: 18rem;">
                        <div class="card-header">
                            <div class="card-title my-1 text-truncate">
                                {{ todo }}
                            </div>
                            <div class="card-subtitle small text-muted">
                                <time>{{ todo.due_date }}</time>

                            </div>
                        </div>
                        <div class="d-flex card-body flex-column align-content-between">
                            <p>{{ todo.description }}</p>
                        </div>
                        <div class="d-flex flex-column card-footer mx-1 justify-content-center py-0">
                            <div class="py-1">
                                <span class="small text-muted">{{ todo.date_created }}</span>
                            </div>
                            <div class="d-inline-flex pb-2">
                                <form method="post" action={% url 'todo:check' todo.id %}>
                                    {% csrf_token %}
                                    <input name="{{ todo.checked }}" id="{{ todo.checked }}" onchange="this.form.submit()" type="checkbox" class="btn-check" autocomplete="off">
                                    <label class="m-0 btn btn-sm {% if todo.checked is True %}btn-secondary{% else %}btn-primary{% endif %} mx-1" for="{{ todo.checked }}">Done</label>
                                </form>
                                <a class="btn btn-sm {% if todo.checked is True %}btn-secondary{% else %}btn-info{% endif %} mx-1" href="{% url 'todo:detail' todo.id %}">Show</a>
                                <a class="btn btn-sm {% if todo.checked is True %}btn-secondary{% else %}btn-warning{% endif %} mx-1" href="{% url 'todo:update' todo.id %}">Update</a>
                                <a class="btn btn-sm {% if todo.checked is True %}btn-secondary{% else %}btn-danger{% endif %} mx-1" href="{% url 'todo:delete' todo.id %}">Delete</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            {% include 'paginator.html' %}
        </div>
    </div>
{% endblock %}
