{% extends "base.html" %}
{% block content %}
    <div class="row">
        <div class="col-4 offset-4">
            <h1 class="display-1 text-center">Alle Todos</h1>
            <div class="d-flex flex-row justify-content-around mt-4">
                <a class="btn btn-disabled rounded mb-3 text-center border border-black" disabled>Aktive Todos</a>
                <a class="btn btn-info rounded text-white mb-3 text-center" href="/create">Opret Todo</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-10 offset-1">
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-10 offset-1 d-flex flex-wrap justify-content-center">
            {% for todo in todo_lists %}
                {% if todo.checked is False %}
                    <div class="card text-center mb-3 mx-2" style="min-width: 18rem; max-width: 18rem;">
                        <div class="card-header">
                            <div class="card-title my-1 text-truncate">
                                {{ todo }}
                            </div>
                            <div class="card-subtitle small text-muted">
                                <time>{{ todo.due_date }}</time>

                            </div>
                        </div>
                        <div class="card-body">
                            <p>{{ todo.description }}</p>
                        </div>
                        <div class="mb-2 mx-2 d-flex justify-content-center">
                            <form method="post" action="/{{ todo.id }}/check/">
                                {% csrf_token %}
                                <input name="{{ todo.checked }}" id="{{ todo.checked }}" onchange="this.form.submit()" type="checkbox" class="btn-check" autocomplete="off">
                                <label class="btn btn-sm btn-primary mx-1" for="{{ todo.checked }}">Færdig</label>
                            </form>
                            <a class="btn btn-sm btn-info mx-1" href="/{{ todo.id }}/">Vis</a>
                            <a class="btn btn-sm btn-warning mx-1" href="{{ todo.id }}/update/">Opdater</a>
                            <a class="btn btn-sm btn-danger mx-1" href="{{ todo.id }}/delete/">Slet</a>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
            {% for todo in todo_lists %}
                {% if todo.checked is True %}
                    <div class="card text-dark bg-light text-center mb-3 mx-2" style="min-width: 18rem; max-width: 18rem;">
                        <div class="card-header">
                            <div class="card-title my-1 text-truncate">
                                {{ todo }}
                            </div>
                            <div class="card-subtitle small">
                                <time>{{ todo.due_date }}</time>

                            </div>
                        </div>
                        <div class="card-body">
                            <p>{{ todo.description }}</p>
                        </div>
                        <div class="mb-2 mx-2 d-flex justify-content-center">
                            <form method="post" action="/{{ todo.id }}/check/">
                                {% csrf_token %}
                                <input name="{{ todo.checked }}" id="{{ todo.checked }}" onchange="this.form.submit()" type="checkbox" class="btn-check">
                                <label class="btn btn-sm btn-secondary mx-1" for="{{ todo.checked }}">Færdig</label>
                            </form>
                            <a class="btn btn-sm btn-secondary mx-1" href="/{{ todo.id }}/">Vis</a>
                            <a class="btn btn-sm btn-secondary mx-1" href="{{ todo.id }}/update/">Opdater</a>
                            <a class="btn btn-sm btn-secondary mx-1" href="{{ todo.id }}/delete/">Slet</a>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
