{% extends "base.html" %}
{% block content %}
    {% include 'components/page_title.html' with heading="Create Note" %}
    <div class="row">
        <div class="col-4 offset-4">
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    <div class="form-row mb-2">
                        <label for="name" style="width: 8rem;">Name</label>
                        <input class="form-control" type="text" name="name" id="name" value="">
                    </div>
                    <div class="form-row mb-2">
                        <label for="description" style="width: 8rem;">Description</label>
                        <input class="form-control" type="text" name="description" id="description" value="">
                    </div>
                    {% include 'components/submit_button.html' %}
                </div>
            </form>
        </div>
    </div>
{% endblock %}