{% extends "base.html" %}
{% load markdownify %}
{% block content %}
    {#    {% include 'components/page_title.html' with heading="Note Detail" %}#}
    <div class="row">
        <div class="col-10 offset-1 jumbotron border border-light mt-3">
            <div class="jumbotron">
                <h1 class="display-4">{{ note }}</h1>
                <hr>
                    {{ note.text_content |markdownify }}
            </div>
            <div class="d-flex justify-content-center mt-5">
                <a class="btn btn-sm btn-warning mx-1" href="{% url 'note:update' note.id %}">Update</a>
                <a class="btn btn-sm btn-danger mx-1" href="{% url 'note:delete' note.id %}">Delete</a>
            </div>
            <div class="form-row mt-4 d-flex justify-content-around">

                <button class="btn btn-danger w-25" onclick="window.history.back();" style="">Go Back</button>
            </div>
        </div>
    </div>
{% endblock %}


