<footer class="bg-dark text-center text-white">
    <div class="container p-4">

        <section class="">
            <form action="">
                <div class="row d-flex justify-content-center">
                    <div class="col-md-5 col-12">
                        <label class="small text-muted" for="form5Example2">
                            Let me mail you if I come up with anything cool in the future?
                        </label>
                        <div class="input-group mb-2">
                            <input type="text" class="form-control" id="" placeholder="Email 📩">
                            <div class="input-group-append">
                                <button type="submit" class="btn btn-outline-light mb-4">Subscribe</button>
                                {#                                TODO#}
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </section>
        <section class="mb-4">
            <p class="text-muted">
                I created this project to learn Django.
                {#                TODO#}
            </p>
        </section>
        <section class="">
            <div class="row">
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Reach Out</h5>

                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="https://github.com/blue-hexagon" class="text-white">Github Profile</a>
                        </li>
                        <li>
                            <a href="https://news.ycombinator.com/user?id=manjana" class="text-white">Hackernews Profile</a>
                        </li>
                        <li>
                            <a href="mailto:c8u64ui5ayx5@opayq.com" class="text-white">Email</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Websites</h5>

                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="https://www.cheatsheet.wtf" class="text-white">Cheatsheet.Wtf</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Misc</h5>
                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="#" class="text-white">Sitemap</a>
                            {#                            TODO#}
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Privacy</h5>
                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="#" class="text-white">About This Website</a>
                            {#                            TODO#}
                        </li>
                    </ul>
                </div>
            </div>
        </section>
    </div>
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2021 Copyright:
        <a class="text-white" href="https://github.com/blue-hexagon">@manjana</a>
    </div>
</footer>
