{% extends "base.html" %}
{% load get_class %}
{% block content %}

    <div class="row">
        <div class="col-12 mt-2">
            <div class="jumbotron pt-4">
                {% include 'components/sorting_bar.html' %}
                <div class="d-flex flex-wrap justify-content-center mt-4">
                    <table class="table table-dark ">
                        <thead>
                        <tr>
                            <th style="border: none;" class="text-center">
                                Type
                            </th>
                            <th style="border: none;" class="text-left">
                                Name/Description
                            </th>
                            <th style="border: none;" class="text-center">
                                Read/Update/Delete
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for item in page_obj %}
                            {% with itemtype=item|get_class %}
                                <tr>
                                    {# Type of Item #}
                                    <td rowspan="2" class="text-center" style="vertical-align: middle;">
                                        {% if itemtype == "Todo" %}
                                            <i class="bi bi-bell" style="font-size: 1.8rem;"></i>
                                        {% elif itemtype == "Note" %}
                                            <i class="bi bi-file-earmark" style="font-size: 1.8rem;"></i>
                                        {% elif itemtype == "Bookmark" %}
                                            <i class="bi bi-bookmark-check" style="font-size: 1.8rem;"></i>
                                        {% endif %}
                                    </td>
                                    {# Item Name + Link if relevant #}
                                    <td colspan="" class="w-75" style="vertical-align: middle;">
                                        {% if item.url %}
                                            <a href="{{ item.url }}">{{ item.name }}</a>
                                        {% elif itemtype == "Note" %}
                                            <a href="{% url 'note:detail' item.id %}">{{ item.name }}</a>
                                            {% if item.tags.all %}
                                                <div class="float-right">
                                                    {% for tag in item.tags.all %}
                                                        <a href="?tags={{ tag }}" class="ml-2 badge badge-secondary py-2 px-3">{{ tag }}</a>
                                                    {% endfor %}
                                                </div>
                                            {% endif %}
                                        {% else %}
                                            {{ item.name }}
                                        {% endif %}
                                    </td>
                                    {# Item CRUD Buttons #}
                                    <td colspan="" class="d-flex justify-content-around align-items-center text-right" style="">
                                        <a class="btn btn-sm btn-outline-info" style="width: 2rem; height: 2rem;" href="
                                            {% if itemtype == 'Todo' %}
                                            {% url 'todo:detail' item.id %}
                                            {% elif itemtype == 'Note' %}
                                            {% url 'note:detail' item.id %}
                                            {% elif itemtype == 'Bookmark' %}
                                            {% url 'bookmark:detail' item.id %}
                                            {% endif %}"
                                        ><i class="bi bi-eye-fill" style=""></i>
                                        </a>
                                        <a class="btn btn-sm btn-outline-warning" style="width: 2rem; height: 2rem;" href="
                                            {% if itemtype == 'Todo' %}
                                            {% url 'todo:update' item.id %}
                                            {% elif itemtype == 'Note' %}
                                            {% url 'note:update' item.id %}
                                            {% elif itemtype == 'Bookmark' %}
                                            {% url 'bookmark:update' item.id %}
                                            {% endif %}"
                                        ><i class="bi bi-pen-fill"></i>&nbsp;
                                        </a>
                                        <a class="btn btn-sm btn-outline-danger" style="width: 2rem; height: 2rem;" href="#"
                                                {% if itemtype == 'Todo' %}
                                           onclick="if (this.innerHTML==='&Cross;'){this.href='{% url 'todo:delete' item.id %}'};this.innerHTML='&Cross;';"
                                                {% elif itemtype == 'Note' %}
                                           onclick="if (this.innerHTML==='&Cross;'){this.href='{% url 'note:delete' item.id %}'};this.innerHTML='&Cross;';"
                                                {% elif itemtype == 'Bookmark' %}
                                           onclick="if (this.innerHTML==='&Cross;'){this.href='{% url 'bookmark:delete' item.id %}'};this.innerHTML='&Cross;';"
                                                {% endif %}
                                        ><i class="bi bi-trash2-fill"></i>&nbsp;
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="1">
                                        {{ item.description }}
                                    </td>
                                    <td class="text-center border-0">
                                        {% if item.text_content %}
                                            <div class="text-muted">{{ item.text_content  | length }} chars.</div>
                                        {% endif %}
                                        {% if item.due_date %}
                                            <span class="{% if item.due_date %}text-danger {% else %} text-success {% endif %}">Due {{ item.due_date }}</span>
                                            {#                                            TODO: Add  logic to determine if date is overdue.#}
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endwith %}
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% include 'paginator.html' %}
            </div>
        </div>
    </div>
    <script>
        document.querySelectorAll('tbody > tr').forEach(x => {
            if (x.children.length > 2) x.classList.add('trborder')
        })
    </script>
{% endblock %}
