{% extends "base.html" %}
{% load get_class %}
{% block content %}
    <div class="row">
        <div class="col-12 mt-2">
            <div class="jumbotron pt-4">
                {% include 'components/sorting_bar.html' %}
                <div class="d-flex flex-wrap justify-content-center mt-4">
                    <table class="table table-dark table-striped table-borderless">
                        <thead>
                        <tr>
                            <th class="text-center">
                                Type
                            </th>
                            <th class="text-center">
                                Name

                            </th>
                            <th>
                                Description
                            </th>
                            <th>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for item in page_obj %}
                            {% with itemtype=item|get_class %}
                                <tr>
                                    <td class="text-center">
                                        {% if itemtype == "Todo" %}
                                            <i class="bi bi-bell"></i>
                                        {% elif itemtype == "Note" %}
                                            <i class="bi bi-file-earmark"></i>
                                        {% elif itemtype == "Bookmark" %}
                                            <i class="bi bi-bookmark-check"></i>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if item.url %}
                                            <a href="{{ item.url }}">{{ item.name }}</a>
                                        {% elif itemtype == "Note" %}
                                            <a href="{% url 'note:detail' item.id %}">{{ item.name }}</a>
                                        {% else %}
                                            {{ item.name }}
                                        {% endif %}
                                    </td>
                                    <td>
                                        {{ item.description }}
                                        {% if item.due_date %}
                                            <span class="{% if item.due_date %}text-danger {% else %} text-success {% endif %}">&mdash; Due {{ item.due_date }}</span>
                                            {#                                            TODO: Add  logic to determine if date is overdue.#}
                                        {% endif %}
                                    </td>
                                    <td class="d-flex justify-content-around align-items-center">
                                        <a class="btn btn-sm btn-outline-info" style="width: 2rem; height: 2rem;" href="
                                            {% if itemtype == 'Todo' %}
                                            {% url 'todo:detail' item.id %}
                                            {% elif itemtype == 'Note' %}
                                            {% url 'note:detail' item.id %}
                                            {% elif itemtype == 'Bookmark' %}
                                            {% url 'bookmark:detail' item.id %}
                                            {% endif %}"
                                        ><i class="bi bi-eye-fill"></i>
                                        </a>
                                        <a class="btn btn-sm btn-outline-warning" style="width: 2rem; height: 2rem;" href="
                                            {% if itemtype == 'Todo' %}
                                            {% url 'todo:update' item.id %}
                                            {% elif itemtype == 'Note' %}
                                            {% url 'note:update' item.id %}
                                            {% elif itemtype == 'Bookmark' %}
                                            {% url 'bookmark:update' item.id %}
                                            {% endif %}"
                                        ><i class="bi bi-pen-fill"></i>&nbsp;
                                        </a>

                                        <a class="btn btn-sm btn-outline-danger" style="width: 2rem; height: 2rem;" href="#"
                                                {% if itemtype == 'Todo' %}
                                           onclick="if (this.innerHTML==='&Cross;'){this.href='{% url 'todo:delete' item.id %}'};this.innerHTML='&Cross;';"
                                                {% elif itemtype == 'Note' %}
                                           onclick="if (this.innerHTML==='&Cross;'){this.href='{% url 'note:delete' item.id %}'};this.innerHTML='&Cross;';"
                                                {% elif itemtype == 'Bookmark' %}
                                           onclick="if (this.innerHTML==='&Cross;'){this.href='{% url 'bookmark:delete' item.id %}'};this.innerHTML='&Cross;';"
                                                {% endif %}
                                        ><i class="bi bi-trash2-fill"></i>&nbsp;
                                        </a>
                                    </td>
                                </tr>
                            {% endwith %}
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% include 'paginator.html' %}
            </div>
        </div>
    </div>
{% endblock %}
