{% extends "base.html" %}
{% load get_class %}
{% block content %}
    <div class="row">
        <div class="col-12 mt-2">
            <div class="jumbotron pt-4">
                {% include 'components/sorting_bar.html' %}
                <div class="d-flex flex-wrap justify-content-center mt-4">
                    <table class="table table-dark table-striped table-borderless">
                        <thead>
                        <tr>
                            <th>
                                Type
                            </th>
                            <th>
                                Name
                            </th>
                            <th>
                                Description
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for item in page_obj %}
                            {% with itemtype=item|get_class %}
                                <tr>
                                    <td>
                                        {% if itemtype == "Todo" %}
                                            <i class="bi bi-bell"></i>
                                        {% elif itemtype == "Note" %}
                                            <i class="bi bi-file-earmark"></i>
                                        {% elif itemtype == "Bookmark" %}
                                            <i class="bi bi-bookmark-check"></i>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if item.url %}
                                            <a href="{{ item.url }}">{{ item.name }}</a>
                                            {% elif itemtype == "Note" %}
                                            <a href="{% url 'note:detail' item.id %}">{{ item.name }}</a>
                                        {% else %}
                                            {{ item.name }}
                                        {% endif %}
                                    </td>
                                    <td>
                                        {{ item.description }}
                                        {% if item.due_date %}
                                            &mdash; Due {{ item.due_date }}
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endwith %}
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% include 'paginator.html' %}
            </div>
        </div>
    </div>
{% endblock %}
