<form method="get" class="d-flex align-content-center justify-content-center p-2">
    <div class="mr-3">
        <button name="datesort" value="{{ datesort }}" class="btn {% if datesort == 'true' %}btn-success {% else %}btn-warning{% endif %} mx-1">
            {% if datesort == 'true' %}
                <i class="bi bi-sort-numeric-down"></i>
            {% else %}
                <i class="bi bi-sort-numeric-up"></i>
            {% endif %}
        </button>
    </div>
    <div class="mr-3">
        <button type="submit" name="notes" value="{{ notes }}" class="btn  {% if notes == 'true' %}btn-outline-info {% else %}btn-info{% endif %} mx-1"><i class="bi bi-file-earmark"></i></button>
        <button type="submit" name="todos" value="{{ todos }}" class="btn {% if todos == 'true' %}btn-outline-info{% else %}btn-info{% endif %} mx-1"><i class="bi bi-bell"></i></button>
        <button type="submit" name="bookmarks" value="{{ bookmarks }}" class="btn {% if bookmarks == 'true' %}btn-outline-info{% else %}btn-info{% endif %} mx-1"><i class="bi bi-bookmark-check"></i></button>
    </div>
    <div class="">
        <button type="submit" name="toggle_viewtype" value="{{ toggle_viewtype }}" class="btn  {% if toggle_viewtype == 'true' %}btn-outline-info {% else %}btn-info{% endif %} mx-1"><i class="bi bi-table"></i></button>
    </div>
</form>