<form method="post" action="" class="d-flex align-content-center justify-content-center p-2">
    {% csrf_token %}
    <div class="mr-3">
        <label>
            {% if datesort == 'true' %}
                <i class="bi bi-sort-numeric-down btn btn-success mx-1"></i>
            {% else %}
                <i class="bi bi-sort-numeric-up btn btn-warning mx-1"></i>
            {% endif %}
            <input onclick="if (this.value==='true'){this.value='false';}else if(this.value==='false'){this.value='true';};submit()" name="datesort" value="{{ datesort }}" hidden>
        </label>
    </div>
    <div class="mr-3">
        <label>
            <i class="bi bi-file-earmark btn  {% if notes == 'false' %}btn-outline-info {% else %}btn-info{% endif %} mx-1"></i>
            <input onclick="if (this.value==='true'){this.value='false';}else if(this.value==='false'){this.value='true';};submit()" type="text" name="notes" value="{{ notes }}" hidden>
        </label>
        <label>
            <i class="bi bi-bell btn {% if todos == 'false' %}btn-outline-info{% else %}btn-info{% endif %} mx-1"></i>
            <input onclick="if (this.value==='true'){this.value='false';}else if(this.value==='false'){this.value='true';};submit()" type="text" name="todos" value="{{ todos }}" hidden>
        </label>
        <label>
            <i class="bi bi-bookmark-check btn {% if bookmarks == 'false' %}btn-outline-info{% else %}btn-info{% endif %} mx-1"></i>
            <input onclick="if (this.value==='true'){this.value='false';}else if(this.value==='false'){this.value='true';};submit()" type="text" name="bookmarks" value="{{ bookmarks }}" hidden>
        </label>
    </div>
    <div class="">
        <label>
            <i class="bi bi-table btn  {% if toggle_viewtype == 'false' %}btn-outline-info {% else %}btn-info{% endif %} mx-1"></i>
            <input onclick="if (this.value==='true'){this.value='false';}else if(this.value==='false'){this.value='true';};submit()" type="text" name="toggle_viewtype" value="{{ toggle_viewtype }}" hidden>
        </label>
    </div>
</form>